.elem {
    border: solid seagreen 3px;
    position: relative
}
div{
    display:block;
}
@media (min-width:600px) {
    nav {
      float: left;
      width: 25%;
    }
}
.elem-red {
    border: solid #d64078 3px;
    margin-left:-4px;
}
.elem {
    /*border: solid seagreen 3px;*/
    position : relative;
}
nav{
    display:block;
}
li{
    text-align: justify;
    padding-left:20px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.elem-green {
    border:solid yellow 3px;

}
    section {
    margin-left: 25%;
    display:block;
}
.ipsum{
    color: #734161;
    background-color:white;
}
.elem p{
    padding: 0 1em;

}
p {
    margin:1em 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (max-width:599px) {
    nav li {
      display: inline;
    }
}