.box {
    float: left;
    width: 200px;
    height: 70px;
    margin: 20px;
    border : solid blue 3px;
  }
  section {
      border: solid hotpink 3px;
      height:60px;
      
  }

  .deku {
    float: left 300px;
    width: 200px;
    height: 70px;
    margin: 40px;
    border : solid blue 3px;
    margin-top: 80px; 
    margin-left:0px;
  }
  .after-box {
    clear: left;
    margin-top:-20px;
  }